.main {
  flex-grow: 1;
  &__container {
    display: flex;
  }
}

.center {
  &__container {
    width: 100%;
    background: #fff;
    margin-right: 20px;
  }
  &__header {
    display: flex;
    align-items: center;
    padding: 15px 10px;

    h2 {
      font-size: 1.2rem;
    }
    h3 {
      font-size: 0.8rem;
      color: #777777;
      margin: 0 10px;
    }
  }
}

.tab-selection {
    margin: 5px 0px;
    border-bottom: 1px solid #b3b3b3;
  .tab_item {
    cursor: pointer;
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: inline-block;
  }

  input[name="tab_item"] {
    display: none;
  }
   input:checked + .tab_item {
    border-bottom: solid 2px #55c600;
    color: #55c600;
  }
  
}

.left__navigation {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 500px;

  .list_item {
    display: block;
    cursor: pointer;
    padding: 10px 5px 10px 20px;
    margin: 5px 0;
    color: #777777;
    font-size: 0.8rem;
    font-weight: bold;
    width: 180px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    &:hover {
      background: #dfdfdf;
    }
  }

  input[name="list_item"] {
    display: none;
  }
   input:checked + .list_item {
    background: #55c600;
    color: #fff;
  }
}

//List

.article {
    display: flex;
    padding: 15px 10px;
    border-bottom: 1px solid #dfdfdf;

    &--icon {
        img {
            max-width: 50px;
        }
    }
    &--detail{
        padding-left: 15px;
        h2 {
            font-size: 1.2rem;
            font-weight: bold;
        }
        span {
            color: #565656;
            font-size: .8rem;
            margin-right: 5px;
            &:nth-child(3) {
                font-weight: bold;
            }
        }
    }
}