@import "../../App.scss";

@include tablet {
    .ranking {
        &__list {
            margin: 0px 5px;
            justify-content: space-between;
            &--detail {
                width: auto;
            }
            &--contribution {
                h2 {
                    font-size: 1rem;
                }
                span {
                    font-size: .6rem;
                }
            }
        }

    }
}