@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500;600&display=swap");

.title {
  font-family: "MuseoModerno", cursive;
}

.header__container {
  background: #55c600;
  height: 60px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: inherit;
  color: #fff;
  font-size: 0.8rem;
  &__left,
  &__right {
    display: flex;
    align-items: center;
  }
  a {
    color: #fff;
  }
  &__left {
    width: 40%;
    justify-content: space-around;
  }

  &__right {
    width: 30%;
    justify-content: space-evenly;
  }

  .post {
    padding: 8px 26px;
    background: #3c8a08;
    border-radius: 5px;
    a {
      margin-left: 10px;
    }
  }

  .notification {
    padding: 8px 12px;
    background: #edfde2;
    color: #3c8a08;
    border-radius: 5px;
    cursor: pointer;
  }

  .user__icons {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    span {
      padding: 10px 13px;
      border-radius: 25px;
      background: #1670b2;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top: 4px solid #3c8a08;
      border-bottom-width: 0;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
    }
    &:hover::after {
      border-top-color: #fff;
    }
  }

  .arrow--team {
    position: relative;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: #3c8a08;
    cursor: pointer;

    &:hover {
      background: #2c6605;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top: 4px solid #fff;
      border-bottom-width: 0;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
    }
  }

  .arrow--community {
    position: relative;
    padding-right: 15px;
    font-size: 0.9rem;
    cursor: pointer;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top: 4px solid #3c8a08;
      border-bottom-width: 0;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
    }
    &:hover::after {
      border-top-color: #fff;
    }
  }

  form {
    position: relative;
    svg {
      position: absolute;
      top: 30%;
      left: 2%;
      path {
        fill: #b3b3b3;
      }
    }
  }

  input {
    padding: 10px 32px 10px 20px;
    border-radius: 6px;
    border: #3e3e3e;
    box-shadow: inset 0 0 2px #b3b3b3;
  }
}

.footer__container {
  background: #3e3e3e;
  color: #b3b3b3;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
  height: 300px;
  h1,
  h3,
  span {
    color: #fff;
  }
  h3 {
    font-weight: bold;
  }
  p {
    font-size: .9rem;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--top {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  &__right {
    display: flex;

    &--company {
      margin-right: 30px;
    }
  }

  .company__list {
    display: flex;
    margin-top: 10px;
    &--column {
      display: flex;
      flex-direction: column;
      margin-right: 40px;
      color: #b3b3b3;
      a {
        color: #b3b3b3;
        margin-top: 10px;
      }
    }
  }
}

//dropdown

.dropdown--team {
  position: absolute;
  width: 220px;
  height: 120px;
  top: 30px;
  left: 11%;
  background: #fff;
  color: gray;
  z-index: 10;
  border-radius: 2px;
  box-shadow: 0 0 10px #d3d3d3;
  flex-direction: column;
  &--top {
    padding: 0 10px;
    color: #000;
    height: 50px;
    line-height: 50px;
  }
  &--bottom {
    height: 50%;
    width: 100%;
    border-top: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    span {
      text-align: center;
      font-weight: bold;
    }
    a {
      line-height: 45px;
      height: 100%;
      width: 100%;
      color: #000;
      &:hover {
        background: #ececec;
      }
    }
  }
}

.user {
  position: relative;
  .dropdown--user {
    position: absolute;
    top: 30px;
    right: 0;
    width: 190px;
    color: #000;
    background: #fff;
    flex-direction: column;
    z-index: 10;
    border-radius: 2px;
    box-shadow: 0 0 10px #d3d3d3;
    hr {
      border-top: 1px solid #ececec;
      width: 100%;
    }
    a {
      display: flex;
      font-size: 0.8rem;
      color: #3e3e3e;
      padding: 10px 20px;
    }
    svg {
      margin-right: 10px;
    }
  }
}

.dropdown--community{
  position: absolute;
  top: 30px;
  width: 190px;
  color: #000;
  background: #fff;
  flex-direction: column;
  z-index: 10;
  border-radius: 2px;
  box-shadow: 0 0 10px #d3d3d3;
  hr {
    border-top: 1px solid #ececec;
    width: 100%;
  }
  a {
    display: flex;
    font-size: 0.8rem;
    color: #3e3e3e;
    padding: 10px 20px;
  }
  svg {
    margin-right: 10px;
  }
}


.dropdown--notification {
  position: absolute;
  top: 50px;
  right: 15%;
  width: 240px;
  height: 200px;
  color: #000;
  background: #fff;
  text-align: center;
  z-index: 10;
  border-radius: 2px;
  box-shadow: 0 0 10px #d3d3d3;
  &--top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
}

*:focus {
  outline: none;
}
